body {
  background: url("dust_scratches.png");
  margin: 0;
}
header {
  width: 100%;
  background: black;
  padding: 15px;
  color: white;
}

nav {
  background-color: #131211;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 0px 0px 8px 0px;
  overflow: hidden;
  width: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  float: right;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

nav > ul > li > a {
  color: #f5f2f2;
  display: block;
  line-height: 56px;
  padding: 0 24px;
  text-decoration: none;
}

nav > ul > li:hover {
  background-color: rgb(40, 44, 47);
}

nav > ul > li:hover > a {
  color: rgb(255, 255, 255);
}

nav > ul > li:hover > a > .caret {
  border-top-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #e82e0e;
  font-size: 46px;
  padding: 8px 12px;
  position: absolute;
  bottom: 419px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/*#community .navigation.outliner a,#news .navigation.outliner a,#about .navigation.outliner a{width:18%}
.navigation-container{position:absolute;bottom:0;overflow:visible;width:100%;}
@media only screen and (max-width: 570px){.navigation-container{overflow:hidden;height:39px;text-align:center}
.navigation-container--loaded{height:auto;overflow-y:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;white-space:nowrap}
}@media only screen and (max-width: 570px){.mobile-bg .navigation-container{background:rgba(0,0,0,0.3)}
}.navigation.outliner{height:60px;background:transparent;text-align:center;vertical-align:bottom;}
@media only screen and (max-width: 570px){.navigation.outliner{height:39px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 10px;display:inline-block}
}.navigation.outliner a{width:28%;display:inline-block;max-width:250px;font-family:'aw-conqueror-carved-one',sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-weight:normal;font-size:19px;color:#fff;padding-top:20px;border-left:0;margin-left:5px;border-style:solid;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-decoration:none;background:#000;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;}
@media only screen and (max-width: 570px){.navigation.outliner a{display:inline-block;background:none;color:#fff;width:auto !important;max-width:100% !important;padding:14px 11px 10px;font-size:.875rem;margin-left:0}
}.navigation.outliner a:first-child{margin-left:0}
.navigation.outliner a.active,.navigation.outliner a:hover{background:#f4f6f6;color:#333;}
@media only screen and (max-width: 570px){.navigation.outliner a.active,.navigation.outliner a:hover{background:none;color:#fff;border-bottom:none}
}@media only screen and (max-width: 570px){.navigation.outliner a.active{border-bottom:2px solid #fff}
}.navigation.outliner a.active:hover{color:rgba(51,51,51,0.8);}
@media only screen and (max-width: 570px){.navigation.outliner a.active:hover{color:#fff}
}
*/

.navigation {
  position: relative;
}
.navigation ul {
  width: 100%;
  background: #fe3f00;
  zoom: 1;
}
.navigation ul:before,
.navigation ul:after {
  content: "";
  display: table;
}
.navigation ul:after {
  clear: both;
}
.navigation li {
  width: 25%;
  height: 100%;
  text-align: center;
  line-height: 1.4;
  float: left;
}
.navigation li:after {
  content: "";
  background: #e43900;
  display: block;
  width: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 6px;
  bottom: 6px;
}
.navigation li:last-child:before {
  display: none;
}
.navigation li:hover:before {
  display: none;
}
.navigation li a {
  text-decoration: none;
  padding: 40px 6.25% 40px;
  display: block;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  color: #ffdad4;
}
.navigation li a:hover:before,
.navigation li a:hover strong {
  border-color: #fff;
}
.navigation li a strong {
  font-family: "aw-conqueror-carved-one", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 1px;
}
.navigation li a small {
  display: block;
  font-size: 16px;
}
small,
strong,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: #f33f00;
}

ol,
ul {
  list-style: none;
}

body {
  font-size: 100%;
  font-family: "nimbus-sans", "Helvetica", Arial;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#select {
  width: 100%;
  height: 40px;
  background: #908c8c;
  margin: 10px;
}

#select1 {
  width: 100%;
  height: 40px;
  background: #908c8c;
  margin: 10px;
}
